<div className="product grid-item">
    <div>
        test
    </div>
</div>


{% schema %}
{
  "name": "product grid",
  "settings": [],
  "presets": [
    {
      "name": "product grid"
    }
  ]
}
{% endschema %}
