.product-grid-item {
    position: relative;
    width: 30%;
    text-align: center;
}
.hotspot {
  position: absolute;
  width: 16px;
  height: 16px;
  background: rgba(255, 0, 0, 0.7);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* Hide tooltip by default */
.hotspot .tooltip {
  position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 10px 10px;
    background: #ffffff;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.2s ease;
    display: none;
    box-shadow: 0px 0px 5px 1px #c2c2c2;
}
.hotspot.active .tooltip {
  display: block;
}
.product-grid-row {
    display: flex;
    justify-content: center;
    grid-gap: 40px;
    flex-wrap: wrap;
}
.product-detial-tooltip {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 5px;
}
.product-image {
    width: 30%;
}
.product-image img {
    width: -webkit-fill-available;
}
.product-det {
    width: 66%;
}
.product-option {
    text-align: left;
}
.product-det {
    display: block;
    padding: 5px;
}
.product-det h6 {
    font-size: 20px;
    display: block;
    margin: 0px;
    letter-spacing: 0px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}
.product-det span.price {
    text-align: left;
    display: block;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 14px;
    margin-bottom: 5px;
    color: black;
    font-weight: 400;
}
.product-det h6 {
    font-size: 18px;
    display: block;
    margin: 0px;
    letter-spacing: 0px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
    line-height: 18px;
    text-align: left;
}
button.add-t-cart {
    background: black;
    border: 1px solid black;
    color: white;
    font-size: 12px;
    letter-spacing: 0px;
    font-weight: 300;
    padding: 5px 10px;
    display: block;
    width: fit-content;
    margin: 0px;
}

.product-image-m-div {
    position: relative;
}
.product-image-m-div img {
    width: -webkit-fill-available;
}
.isolate {
    position: relative;
    z-index: 0;
    z-index: 99999;
}

.tooltip-btn {
    padding: 0px 0px;
    margin: 0px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    display: block;
    background: black;
}
.tooltip-content {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 25px;
    top: 85px;
    left: 59px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px #80808099;
    border-radius: 5px;
    max-width: 250px;
    z-index: 9;
}
.tooltip-content.active {
    display: block;
}

.tolltip-item-m-div {
    position: initial;
}
a.prod-title {
    text-decoration: none;
}
a.prod-title h6 {
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0px;
    margin-bottom: 5px;
}
.product-option label {
    font-weight: 700;
    color: black;
    letter-spacing: -1px;
}
.color-swt {
    position: relative;
    cursor: pointer;
}
.color-swt label {
    width: 15px ;
    height: 15px;
    border-radius: 50%;
    /* z-index: 99999999;
    position: relative; */
}
.color-swt input {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}